.AboutUs{
	padding: 40px 20px;
	align-items: center;
	background-color: white;
}


.About-row{
	display: grid;
	grid-template-columns: repeat(auto-fill, 12.5em);
	grid-gap: 7em;
	padding: 10px 25%;
}

.About-col-textbox {
	text-align: left;
}

.About-col-textbox h1 {
	color: black;
	font-size: 40px;
}

.About-col-textbox h2 {
	color: black;
	font-size: 25px;
}




.About-col-img{
	position: relative;
	width: 250px;
	height: 350px;
}

.owner1{
	position: absolute;
	bottom: 0em;
	z-index: 10;
}

.owner2{
	position: absolute;
	bottom: 4em;
	left: 8em;
	z-index: 9;
}

@media screen and (max-width: 760px) {
	.About-col-img{
		display: None;
	}

}